@import "tailwindcss";

:root {
  --backgroundColor: #191825;
  --text-color: #fff;
}

body {
  background-color: var(--backgroundColor);
  color: var(--text-color);
}

@theme {
  --color-primary: #865dff;
  --color-secondary: #e384ff;
  --color-mint: #ffa3fd;
  --color-foreground: #f5f5f5;
  --font-inter: "Inter", sans-serif;
  --color-layout: #25253a;
}

.login-button {
  color: #e384ff !important;
  padding: 0.5rem !important;
  border: 1px solid #ffa3fd !important;
}
.login-button:hover {
  color: #ffa3fd !important;
  background-color: #211f30 !important;
}

.internal-button {
  color: #00caff !important;
  box-shadow: 2px !important;
}
.internal-button:hover {
  color: #00caff !important;
  box-shadow: 2px !important;
  background-color: #211f30 !important;
}
